.deals-gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;
  padding: 40px;
  background-color: #014E37;
  border-radius: 4px;
}

  @media (min-width: 768px) {
    .deals-gallery{
      display: flex;
    }
  }