.deal {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: calc(100% - 32px); /* Full width minus margins by default */
}

.deal:hover {
  transform: scale(1.05);
}

.deal-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  border: 1 solid #ddd;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  transition: transform 0.2s;
  width: calc(100% - 32px); /* Full width minus margins by default */
}

.deal-name {
  margin: 16px 0;
  font-size: 1.2em;
}

.deal-price {
  color: #474747;
  font-size: 1em;
}

/* Media Queries for Responsive Design */
@media (min-width: 480px) {
  .deal {
    width: calc(50% - 32px); 
  }
}

@media (min-width: 768px) {
  .deal {
    width: calc(33.33% - 32px); 
  }
}

@media (min-width: 1024px) {
  .deal {
    width: calc(25% - 32px); 
  }
}

@media (min-width: 1200px) {
  .deal {
    width: calc(20% - 32px); 
  }
}
